[submodule "AdvanceML"]
	path = AdvanceML
	url = https://github.com/anmolrk/AdvanceML.git
[submodule "Autotyper"]
	path = Autotyper
	url = https://github.com/anmolrk/Autotyper.git
[submodule "C-Sharp_CWH"]
	path = C-Sharp_CWH
	url = https://github.com/anmolrk/C-Sharp_CWH.git
[submodule "C_Programming"]
	path = C_Programming
	url = https://github.com/anmolrk/C_Programming.git
[submodule "CP_classesOfflineLPU"]
	path = CP_classesOfflineLPU
	url = https://github.com/anmolrk/CP_classesOfflineLPU.git
[submodule "CPP"]
	path = CPP
	url = https://github.com/anmolrk/CPP.git
[submodule "DBMS_LPU"]
	path = DBMS_LPU
	url = https://github.com/anmolrk/DBMS_LPU.git
[submodule "DS_ALGO_LPU"]
	path = DS_ALGO_LPU
	url = https://github.com/anmolrk/DS_ALGO_LPU.git
[submodule "DS_AlgoCpp_CH"]
	path = DS_AlgoCpp_CH
	url = https://github.com/anmolrk/DS_AlgoCpp_CH.git
[submodule "Emoji_prediction"]
	path = Emoji_prediction
	url = https://github.com/anmolrk/Emoji_prediction.git
[submodule "HackerRank_Practice"]
	path = HackerRank_Practice
	url = https://github.com/anmolrk/HackerRank_Practice.git
[submodule "Html_code"]
	path = Html_code
	url = https://github.com/anmolrk/Html_code.git
