[submodule "AdvanceML"]
	path = AdvanceML
	url = https://github.com/anmolrk/AdvanceML.git
[submodule "Autotyper"]
	path = Autotyper
	url = https://github.com/anmolrk/Autotyper.git
[submodule "C-Sharp_CWH"]
	path = C-Sharp_CWH
	url = https://github.com/anmolrk/C-Sharp_CWH.git
[submodule "C_Programming"]
	path = C_Programming
	url = https://github.com/anmolrk/C_Programming.git
[submodule "CP_classesOfflineLPU"]
	path = CP_classesOfflineLPU
	url = https://github.com/anmolrk/CP_classesOfflineLPU.git
[submodule "CPP"]
	path = CPP
	url = https://github.com/anmolrk/CPP.git
[submodule "DBMS_LPU"]
	path = DBMS_LPU
	url = https://github.com/anmolrk/DBMS_LPU.git
[submodule "DS_ALGO_LPU"]
	path = DS_ALGO_LPU
	url = https://github.com/anmolrk/DS_ALGO_LPU.git
[submodule "DS_AlgoCpp_CH"]
	path = DS_AlgoCpp_CH
	url = https://github.com/anmolrk/DS_AlgoCpp_CH.git
[submodule "Emoji_prediction"]
	path = Emoji_prediction
	url = https://github.com/anmolrk/Emoji_prediction.git
[submodule "HackerRank_Practice"]
	path = HackerRank_Practice
	url = https://github.com/anmolrk/HackerRank_Practice.git
[submodule "Html_code"]
	path = Html_code
	url = https://github.com/anmolrk/Html_code.git
[submodule "INT247_LPU"]
	path = INT247_LPU
	url = https://github.com/anmolrk/INT247_LPU.git
[submodule "Internship_Studio"]
	path = Internship_Studio
	url = https://github.com/anmolrk/Internship_Studio.git
[submodule "Java_Tutorials"]
	path = Java_Tutorials
	url = https://github.com/anmolrk/Java_Tutorials.git
[submodule "Python_Programming"]
	path = Python_Programming
	url = https://github.com/anmolrk/Python_Programming.git
[submodule "React_code"]
	path = React_code
	url = https://github.com/anmolrk/React_code.git
[submodule "RubikCubeSolver_files"]
	path = RubikCubeSolver_files
	url = https://github.com/anmolrk/RubikCubeSolver_files.git
[submodule "SoftComputing"]
	path = SoftComputing
	url = https://github.com/anmolrk/SoftComputing.git
[submodule "Test_code"]
	path = Test_code
	url = https://github.com/anmolrk/Test_code.git
[submodule "VIKA_files"]
	path = VIKA_files
	url = https://github.com/anmolrk/VIKA_files.git
[submodule "WebDev_Udemy"]
	path = WebDev_Udemy
	url = https://github.com/anmolrk/WebDev_Udemy.git
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/anmolrk/portfolio.git
[submodule "unityGame"]
	path = unityGame
	url = https://github.com/anmolrk/unityGame.git

